SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# Company Email (Used to send emails)
SMTP_USERNAME=your_company_email@gmail.com
SMTP_PASSWORD=your_app_password_here

# Sender Information
FROM_EMAIL=your_company_email@gmail.com
FROM_NAME=Advanced Approval Management System (AAMS)

# Super Admin (CEO)
SUPER_ADMIN_EMAIL=your_ceo_email@gmail.com

# Default Admin Notification Email
ADMIN_NOTIFY_EMAIL=your_admin_notify_email@gmail.com

# Optional
COMPANY_NAME=Advanced Approval Management System
COMPANY_SHORT_NAME=AAMS

# Super Admin Password
SUPER_ADMIN_PASSWORD=your_super_admin_password_here
